:root{
  --black:#172121;
  --red:#52050A;
  --lightOrange:#FC9F5B;
  --firebrick:#BB0A21;
  --citron:#8EA604;
}
.App {
  text-align: center;
  background-color:white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61DAFB;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.botCard{
  background-color:white;
  border:5px solid black;
  border-radius:20px;
  width:250px;
 display: flex;
 flex-direction:column;
 margin:10px;
 font-size:16px;
}
.botCardName{
  font-size:25px;
  font-weight:bold;
}
.botCard:hover{
background-color:rgb(122, 180, 255);
}
.botCardsContainer{
display:flex;
flex-direction:row;
flex-wrap:wrap;
background-color:var(--firebrick)
}
.armyCard{
  background-color:white;
  border:5px solid black;
  border-radius:20px;
  width:250px;
 display: flex;
 flex-direction:column;
 margin:10px;
 font-size:16px;
}
.botArmyContainer{
  width:90%;
  margin-left:auto;
  margin-right:auto;
 display:flex;
flex-direction:row;
flex-wrap: wrap;
background-color:var(--citron);
}
#delete-button{
  width:50px;
  height:50px;
  border:5px solid black;
  color:black;
  background-color:red;
  font-weight: bolder;
}
#delete-button:hover{
  border:5px solid white;
  color:red;
  background-color:black;
}
h2{
  font-size:40px;
}
hr{
  color:blue;
  background-color:var(--firebrick);
  margin-bottom:20px;
  margin-top:20px;
  height:10px;
}
.filterForm{
  display:flex;
  flex-direction:row;
  justify-content:center;
  background-color:rgb(251, 133, 103);
}